@{
    ViewBag.Title = "Ask";
}
@model Agensi.Web.Models.Board.AskModel
@using Agensi.Core.Util;

@using (@Html.BeginForm("AskExecute", "Board", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>たいとる</td>
            <td><input type="text" name="@ClassUtil.GetName(() => Model.AskQuery.Title)" value="" /></td>
        </tr>
        <tr>
            <td>データ形式</td>
            <td>
                <select name="@ClassUtil.GetName(() => Model.AskQuery.MediaCategory)">
                    @foreach (var mediaCategory in @Model.MediaCategories)
                    {
                        <option value="@mediaCategory.MediaCategoryId">@mediaCategory.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>言語</td>
            <td>
                <select name="@ClassUtil.GetName(() => Model.AskQuery.LanguageId)">
                    @foreach (var lanuguage in @Model.AllLanguage)
                    {
                        <option value="@lanuguage.LanguageId">@lanuguage.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>翻訳してほしい言語</td>
            <td>
                @foreach (var lanuguage in @Model.AllLanguage)
                {
                    <input type="checkbox" name="@ClassUtil.GetName(() => Model.AskQuery.ToLanguage)" value="@lanuguage.LanguageId">@lanuguage.Name
                }
            </td>
        </tr>
        <tr>
            <td>タグ</td>
            <td><input type="text" name="@ClassUtil.GetName(() => Model.Tag)" value="" /></td>
        </tr>
        <tr>
            <td>テキスト</td>
            <td><input type="text" name="@ClassUtil.GetName(() => Model.AskQuery.Text)" value="1" /></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-default">質問する</button>
}