@{
    ViewBag.Title = "Index";
}
@model Agensi.Web.Models.Board.BoardIndexModel

@if(@User.Identity.IsAuthenticated)
{
    @Html.ActionLink("質問する", "Ask", null, new { @class = "btn btn-default" })
}

@if (Model.AgensiQueries.Any())
{
    <div class="query-table">
        @{var now = DateTime.Now;}
        @foreach (var query in Model.AgensiQueries.OrderByDescending(x => x.QueryDate))
        {
        <div class="query-row">
            <div class="query-row-vav">
                <div class="query-row-vav-votes"><span>@query.Votes.Count()</span><br/>Votes</div>
                <div class="query-row-vav-answers"><span>@query.Answers.Count()</span><br />Answers</div>
                <div class="query-row-vav-views"><span>0</span><br />Views</div>
            </div>
            <div class="query-row-right">
                <div class="query-row-title">@Html.ActionLink(@query.Title, "Thread", new { query.QueryId })</div>
                <div class="query-row-details">
                    <div class="query-row-language">
                        <span class="query-row-language-from">@query.Language.Name</span> > <span class="query-row-language-to">@query.ToLanguage.Name</span>
                    </div>
                    <div class="query-row-user"><a href="/user/index?viewUserId=@query.OwnerUser.UserId">@query.OwnerUser.UserName</a></div>
                    <div class="query-row-date">
                    @{
                        var timeDiffString = "";
                        var timeDiff = now - query.QueryDate;
                        var seconds = (int)timeDiff.TotalSeconds;
                        if (seconds < 60)
                        {
                            timeDiffString = string.Format("{0}秒前", seconds);
                        }
                        else if (seconds < 60 * 60)
                        {
                            timeDiffString = string.Format("{0}分前", (int)Math.Ceiling(seconds / 60.0));
                        }
                        else if (seconds < 60 * 60 * 24 * 7)
                        {
                            timeDiffString = string.Format("{0}日前", (int)Math.Ceiling(seconds / (60.0 * 60.0 * 24)));
                        }
                        else
                        {
                            timeDiffString = timeDiff.ToString();
                        }
                    } @timeDiffString
                    </div>

                </div>
            </div>
        </div>
        }
    </div>
}
else
{
    <div>Queryがまだありません。</div>
}