@{
    ViewBag.Title = "Index";
}
@model Agensi.Web.Models.Board.BoardIndexModel

<h2>Query一覧画面</h2>

@if(@User.Identity.IsAuthenticated)
{
    @Html.ActionLink("質問する", "Ask", null, new { @class = "btn btn-default" })
}

@if (Model.AgensiQueries.Any())
{
    <h3>質問一覧</h3>
    <table class="table">
        <tr><th>タイトル</th><th>言語</th><th>翻訳してほしい言語</th><th>質問日時</th><th>質問者</th></tr>
        @foreach (var query in Model.AgensiQueries)
        {
        <tr>
            <td>@Html.ActionLink(@query.Title, "Thread", new { query.QueryId })</td>
            <td>@query.Language.Name</td>
            <td>@query.ToLanguage.Name</td>
            <td>@query.QueryDate</td>
            @*<td>@Html.RouteLink(query.OwnerUser.UserName,"/User/Index",new{viewUserId = query.OwnerUser.UserId})</td>*@
            <td><a href="/user/index?viewUserId=@query.OwnerUser.UserId">@query.OwnerUser.UserName</a></td>
        </tr>
        }
    </table>
}
else
{
    <div>Queryがまだありません。</div>
}