@{
    ViewBag.Title = "Query";
}
@using Agensi.Core.Language;
@model Agensi.Web.Models.Board.ThreadModel

<br/>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Title: @Model.AgensiQuery.Title</h4></div>
    <div class="panel-body">
        @Model.AgensiQuery.Text
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" style="text-align:right"><span class="glyphicon glyphicon-user"></span>QueryOwner:@Model.AgensiQuery.OwnerUid</li>
    </ul>
</div>


<br />

@if (@Model.AgensiQuery.Answers.Any())
{
    <div>AnswerList</div><br />
    <ul class="nav nav-tabs">
        @foreach (var answers in @Model.AgensiQuery.Answers.Select(x => x.Language).DistinctClass().ToArray())
        {
            <li><a name="@answers.LanguageId" href="#">@answers.Name</a></li>
        }
    </ul>
    <table class="table">
        @foreach (var answers in @Model.AgensiQuery.Answers.GroupBy(x => x.Language.LanguageId))
        {
            <tr><td>ここから@(answers.First().Language.Name)</td></tr>
            foreach(var answer in answers)
            {
            <tr>
                <td>@answer.Text</td>
            </tr>
            }
        }
    </table>
}
else
{
    <div style="color:red;font-size:15px">※Answer is nothing...</div>
}
<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Answer</h3>
    </div>
    <div class="panel-body">
    @using (@Html.BeginForm("AnswerExecute", "Board", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>Language</td>
            <td>
            <select name="LanguageId">
                @foreach(var language in @Model.Languages){<option value="@language.LanguageId">@language.Name</option>}
            </select>
            </td>
        </tr>
        <tr>
            <td>AnswerText</td>
            <td><input type="text" name="Text" value="" /></td>
        </tr>
    </table>
    <input type="hidden" name="QueryId" value="@Model.AgensiQuery.QueryId" />
    <button class="btn btn-default">Submit</button>
}
    </div>
</div>