@{
    ViewBag.Title = "Query";
}
@using Agensi.Core.Language;
@using Agensi.Core.Util;
@model Agensi.Web.Models.Board.ThreadModel

<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Title: @Model.AgensiQuery.Title</h4></div>
    <div class="panel-body">
        @Model.AgensiQuery.Text
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item" style="text-align:left">vote:@Model.AgensiQuery.Votes.Count() ----</li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="list-group-item" style="text-align:left">
                @if (!Model.AgensiQuery.Votes.Any(x => x.UserId == @Model.LoginUser.UserId))
                {
                    using (@Html.BeginForm("QueryVote", "Board", FormMethod.Post))
                    {
                        <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span>Vote</button><input type="hidden" name="queryId" value="@Model.AgensiQuery.QueryId" />
                    }
                }
                else
                {
                    using (@Html.BeginForm("QueryVoteCancel", "Board", FormMethod.Post))
                    {
                        <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span>VoteCancel</button><input type="hidden" name="queryId" value="@Model.AgensiQuery.QueryId" />
                    }
                }
            </li>
        }
        <li class="list-group-item" style="text-align:left"><span class="glyphicon glyphicon-font"></span>&nbsp;ToLanguage:@Model.AgensiQuery.ToLanguage.Name</li>
        <li class="list-group-item" style="text-align:left">Tags:&nbsp;@string.Join(",", @Model.AgensiQuery.QueryTags.Select(_ => _.TagName).ToArray())</li>
        <li class="list-group-item" style="text-align:right"><img style="width:50px;height:50px" src="@ImageUtil.ToImageSrc(@Model.AgensiQuery.OwnerUser.ProfileImage)" />QueryOwner:@Model.AgensiQuery.OwnerUser.UserName</li>
    </ul>
</div>
<br />

@if (@Model.AgensiQuery.Answers.Any())
{
    <h2>AnswerList</h2><br />
    <ul class="nav nav-tabs">
        @foreach (var answers in @Model.AgensiQuery.Answers.Select(x => x.Language).DistinctClass().ToArray())
        {
            <li><a name="@answers.LanguageId" href="#">@answers.Name</a></li>
        }
    </ul>
    <table class="table">
        @foreach (var answers in @Model.AgensiQuery.Answers.GroupBy(x => x.Language.LanguageId))
        {
            <tr><td>ここから@(answers.First().Language.Name)</td></tr>
            foreach (var answer in answers)
            {
                <tr>
                    <td>answer:<img style="width:30px;height:30px" src="@ImageUtil.ToImageSrc(@answer.AnswerUser.ProfileImage)" />@answer.AnswerUser.UserName</td>
                    @using (Html.BeginForm("AnswerModify", "Board", FormMethod.Post))
                    {
                        <td><input type="text" name="text" value="@answer.Text"/><input type="hidden" name="answerId" value="@answer.AnswerId"/></td>
                        <td><button type="submit">修正する</button></td>
                    }
                    <td>ParentAnswerId:@StringUtil.ValueOrStringEmpty(@answer.PallentAnswerId)</td>
                    <td>vote:@(answer.Votes.Count())</td>
                    @if (@User.Identity.IsAuthenticated)
                    {
                        if (!answer.Votes.Any(x => x.UserId == @Model.LoginUser.UserId))
                        {
                            using (@Html.BeginForm("AnswerVote", "Board", FormMethod.Post))
                            {
                                <td><button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span>Vote</button><input type="hidden" name="answerId" value="@answer.AnswerId"></td>
                            }
                        }
                        else
                        {
                            using (@Html.BeginForm("AnswerVoteCancel", "Board", FormMethod.Post))
                            {
                                <td><button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span>VoteCancel</button><input type="hidden" name="answerId" value="@answer.AnswerId"></td>
                            }
                        }
                    }
                </tr>
            }
        }
    </table>
}
else
{
    <div style="color:red;font-size:15px">※Answer is nothing...</div>
}
<br />
@if (@User.Identity.IsAuthenticated)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Answer</h3>
        </div>
        <div class="panel-body">
            @using (@Html.BeginForm("AnswerExecute", "Board", FormMethod.Post))
            {
                <table class="table">
                    <tr>
                        <td>Language</td>
                        <td>
                            <select name="LanguageId">
                                @foreach (var language in @Model.Languages)
                                {
                                    <option value="@language.LanguageId">@language.Name</option>}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>AnswerText</td>
                        <td><input type="text" name="Text" value="" /></td>
                    </tr>
                </table>
                <input type="hidden" name="QueryId" value="@Model.AgensiQuery.QueryId" />
                <button class="btn btn-default">Submit</button>
            }
        </div>
    </div>
}
